img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    width: 70px;
  }

.container {
    align-content: flex-start;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

.container > div {
    margin: 10px;
    padding: 10px;
  }

.card-container {
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 0;
    text-align: center;
    transition: 0.3s;
    width: 250px;
  }

.card-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.user-container {
    padding: 10px 15px;
  }


